#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --White: #FAFAFA;
  --Black: #000000;
  --Bluegrey: #2C3B6F; 
  --Blue: #002BC2; 
  --LightGrey: #D9D9D9; 
}